.grid {
  padding: 0px;
  margin: 0;
}
.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  justify-content: center;
  padding: 10px;
}
.poster-img {
  border-radius: 5%;
  width: calc(100% - 1rem * 2);
  margin: 0 auto;
}
.posters {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.movie-title {
  font-weight: bold;
  margin-top: 10px;
}
