.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
}
.nav li {
  padding: 10px;
}
.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;

  font-size: 20px;
}

.nav-link:hover {
  border-radius: 30px;
  color: white;
  background-color: darkred;
  padding: 10px;
}
